@CHARSET "ISO-8859-1";

.body-container {
	display: table;
    width: 100%;
}

.screen-area {
	box-shadow: 0px 2px 15px #888888;
    border: 1px solid #ccc;
    background: #fff;
    margin: 0px 70px;
}
.header{
	float: left;
    width: 100%;
}

.slider-label{
    float: left;
    width: 33%;
}

.slider-label-middle{
    text-align: center;
}

.slider-label-last{
    text-align: end;
}
.nav{
	min-height: 41px;
	float: left;
    width: 100%;
    /* height: 40px; */
    background-color: #344755;
    /* margin: 2px 70px 2px 150px; */
    /* padding: 5px 5%; */
}

.nav li{
	list-style: none;
    display: inline;
    padding: 0px 40px 0px 2px;	
}

.nav li a {
  color: inherit;
  text-decoration: none;
}

.nav li a:hover{
	text-decoration:none;
	color: white;
	background-color:#01ADEF;
	/*width:20px;*/
	height:10px;
	border: 2px solid #01ADEF;
	border-radius:3px;	
}
.content{
	float: left;
    width: 100%;
    /* min-height: 520px; */
    border: 1px solid #BCBCBC;
    border-radius: 5px;
    margin-bottom: 10px;
    /* margin: 2px 70px 2px 150px; */
    /* padding: 8px 2px 2px 15px; */
}

.footer{
	width: 100%;
    min-height: 41px; 
    border-top: 1px solid #BCBCBC;
    border-bottom: 1px solid grey;
    /*background-color: #F4F4F4;*/
    background-color: #344755;
    color:#fff;

    /* margin: 2px 70px 2px 150px; */
    /* padding: 8px 2px 2px 15px; */
    text-align: center;
    clear: both;
}

table{
	width:100%;
	border: 1px solid #BCBCBC;
}

th{
	background-color: #BCBCBC;
}

td{
	text-align: center;
}

#tblTransactions  tr:nth-child(even) {background-color: lightblue }
#tblTransactions  tr:nth-child(odd) {background-color: white }

.message{
	margin-top: 10px;
}
#show{
	color: black;
}

h3{
	color: #BCBCBC;
}

.setBox{
	display:block;
}

body {
	font-family: Open Sans,sans-serif;
	margin:0px;
	background: #f0f4f5;
}
/*date input*/
.ui-widget-header {
    border: 1px solid #285e8e !important;
    background: #3071a9 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #3366ff;
    background: #99b3ff url(images/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x;
}

.wa-back-image {
	background-image: url("../images/holiday.jpg");
}

div.hide-when-zero {
    display: block;
    margin: 10px 0px;
}
div.flight-desc-area + div.hide-when-zero {
    display: none;
}

.error-label {
    margin: 15px;
    font-size: 19px;  
}
.input-list {
	padding-top: 5px;
	min-height: 25px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	padding-left: 10px;
}

.input-list:hover {
	background: #F4F7F8;
}
.input-popup {
	border: 1px solid #ccc;
    background: #89bff1;
}
/* input fields*/

#calender-label {
    position: relative;
}
#calender-label:before {
    color: #666;
    content:"\f073";
    font-family: FontAwesome;
    position: absolute;
    top: 9px;
    left: 10px;
    font-size: 23px;
}

#city-label {
    position: relative;
}
#city-label:before {
    color: #666;
    content:"\f1d8";
    font-family: FontAwesome;
    position: absolute;
    top: 9px;
    left: 10px;
    font-size: 23px;
}

.noti-set .icon-box {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}
.fa-exchange:before {
    content: "\f0ec";
}

.nav-options {
	display: block;
    padding: 12px;
    /* text-align: -webkit-auto; */
    width: 10%;
    float: left;
    text-align: center;
    cursor: pointer;
}

.nav-options:hover {
	background: #013E7D;

}

.nav-options a {
	text-decoration: none;
	color:#fff;
}
.bg-color-black {
    background-color: #202020;
    color: #fff;
}

.input-icon {
	padding-left: 38px !important;
}

.slider {
	margin:10px;
}


.textbox {
	background-size: 29px 25px;
    height: 35px;
    width: 100%;
    border-radius: 3px;
    border: rgba(0,0,0,.3) 2px solid;
    box-sizing: border-box; 
    font-size: medium;
    margin: 5px 0px;
    padding-left: 5px;
}

fieldset {
	min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.submit {
	cursor: pointer;
    font-size: medium;
    border: none;
    height: 36px;
    border-radius: 3px;
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e;
    width: 100%;
    margin: 5px 0px;
}

.submit:hover {
	background-color:#285e8e
}
.form-control {
	display: block;
	margin: 5px 0px;
    width: 100%;
    height: 34px;
    padding: 6px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.row {
	width:100%;
}

.switch {
	width:43%;
	float:left;
	margin:2px 0px;
	padding:5px;
	border:1px solid #ccc;
	cursor: pointer;
}

.switch-title {
	min-height: 40px;
	border-bottom: 1px solid #ccc;
}
.switch:hover {
	border:1px solid #202020;
} 
.active-switch {
	background: #005fcc;
	color:#fff;
	width:43%;
	float:left;
	margin:2px 0px;
	padding:5px;
	border:1px solid #ccc;
	cursor: pointer;
}

.inactive-switch {
	background: #fff;
	color:#202020;
	width:43%;
	float:left;
	margin:2px 0px;
	padding:5px;
	border:1px solid #ccc;
	cursor: pointer;
}
.workarea {
	width: 100%;
	border-top: 1px solid #ccc;
}

.home-title {
	text-align: center;
    color:#003D7C;
}

.sidebar {
	float:left;
	width: 20%;
    margin: 2px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #EBF2F7;
}

.container {
	width: 75%;
    float: left;
    margin: 2px;
    padding: 5px;
    border: 1px solid #ccc;
}

.wa-back-image {
	height: 500px;
    width: 77%;
}
.city-title {
	font-size: large;
    margin: 5px 20px;
}

.city-padd {
	padding:0px 5px;
}

.heading-title {
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;

}


.textbox-error {
  	border: 1px solid red !important;
    padding-left: 40px;
    height: 39px;
    width: 100%;
    border-radius: 3px;
    border: rgba(0,0,0,.3) 2px solid;
    box-sizing: border-box;
    /* padding: 10px; */
    /* margin-bottom: 30px; */
    /* color: red; */
}

.error-noti-flight {
	color:red;
}

.select-error {
	border: 1px solid red !important;
    /* padding-left: 40px; */
    height: 39px;
    width: 100%;
    border-radius: 3px;
    border: rgba(0,0,0,.3) 2px solid;
    /* box-sizing: border-box; */
    /* padding: 10px; */
    /* margin-bottom: 30px; */
    /* color: red; */
}
.error-noti {
  	/*font-weight: bold; */
    text-align: left;
    /* margin-bottom: 5px; */
    padding: 3px 0px 4px 4px;
    color: #EF3B3A;
}
.heading-title {
	margin-top: 10px;
}

.flight-detail-block {
	border: 1px solid #ccc;
    margin: 5px 7%;
    width: 80%;
    padding: 3px 10px;
    min-height: 200px;
    box-shadow: 6px 3px 8px #888888;
}
.flight-inner-block {
	width:70%;
	float:left;
}

.flight-image-block {
	width:20%;
	float:left;
}

.flight-image-block img {
	width:100px;
	margin-bottom: 44px
}

.flight-table {
	width:100%;
}
.inner-left {
	width:45%;
	float:left;
}
.inner-right {
	width:45%;
	float:left;
}

.font-medium {
	font-size: 22px;
}

.font-small {
	font-size: 15px;
}

.font-larger {
	font-size: 26px;
	font-weight: bold;
}
.set-margin {
	margin:10px 0px;
}
.col-side {
    width: 100%;
    float: left;
}

/* media Query*/

@media screen and (max-width:999px) {
    .screen-area {
         margin: 0px 0px; 
    }
}

@media screen and (max-width:889px) {
    .flight-detail-block {
        border: 1px solid #ccc;
        margin: 5px 1%;
        width: 94%;
        padding: 3px 10px;
        min-height: 200px;
        box-shadow: 6px 3px 8px #888888;
    }
}

@media screen and (max-width:1220px) {
    .wa-back-image {
        height: 500px;
        width: 73%;
    }
}

@media screen and (max-width:870px) {
    .active-switch {
        width: 40%;
        }
}

@media screen and (max-width:820px) {
    .sidebar {
        width: 30%;
    }
    .container {
        width: 64% !important;
    }
    .flight-inner-block {
        width: 80%;
    }
}

@media screen and (max-width:600px) {
    .sidebar {
        width: 40%;
    }
    .container {
        width: 50% !important;
    }
}

@media screen and (max-width:602px) {
    .sidebar {
        width: 94%;
    }
    .container {
        width: 94% !important;
    }
}

@media screen and (max-width:740px) {
    .font-medium {
        font-size: 18px;
    }
    .flight-image-block img {
        width: 75px;
        margin-bottom: 44px;
    }
}

@media screen and (max-width:650px) {
    .flight-inner-block {
        width: 78%;
    }
    .inner-right {
        float: right;
    }
}